
.bodyContainer{
  width: 100%;
  height: 80%;
  background-color: blue;
}
.calleTop{
  width: 80%;
  height: 80%;
  background-color: black;
}

.celdaGris{
  background-color: red;
  width: 30px; height: 30px;
}


.celdaCruz{
  background-color: black;
  width: 30px; height: 30px;

}

.celdaBoton {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}